Install needed dependencies


Imported Dependencies for Analysis

1. Import all required libraries

In [1]:
#imports
import pandas as pd
import numpy as np

2. Read the csv file

In [2]:
df = pd.read_csv('/content/amazon.csv')
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

3. Check data type of each column

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 252.2+ KB

As you can see data column is of type object.

In [4]:
#convert date column from object to datetime
df['date'] = pd.to_datetime(df['date'])

In [5]:
#confirmation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 252.2+ KB

Display top 5 rows of the dataset.

In [6]:
df.head()

   year state    month  number       date
0  1998  Acre  Janeiro     0.0 1998-01-01
1  1999  Acre  Janeiro     0.0 1999-01-01
2  2000  Acre  Janeiro     0.0 2000-01-01
3  2001  Acre  Janeiro     0.0 2001-01-01
4  2002  Acre  Janeiro     0.0 2002-01-01

Check last 5 rows.

In [7]:
df.tail()

      year      state     month  number       date
6449  2012  Tocantins  Dezembro   128.0 2012-01-01
6450  2013  Tocantins  Dezembro    85.0 2013-01-01
6451  2014  Tocantins  Dezembro   223.0 2014-01-01
6452  2015  Tocantins  Dezembro   373.0 2015-01-01
6453  2016  Tocantins  Dezembro   119.0 2016-01-01

6. Find shape of our dataset (number of rows and number of columns).

In [8]:
print("Total Number of Rows in Dataset: ", len(df))
print("Total Number of Columns in Dataset: ", len(df.columns))

Total Number of Rows in Dataset:  6454
Total Number of Columns in Dataset:  5

7. Getting information about our dataset like total number rows, total number of columns,
datatypes of each column and memory requirement.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 252.2+ KB

8. Check for duplicate data and drop them.

In [10]:
print("Percentage of duplicated data/rows within dataset: ", df.duplicated().sum() * 100 / len(df))

Percentage of duplicated data/rows within dataset:  0.4958165478772854

In [11]:
# Drop all duplicates in the DataFrame
df = df.drop_duplicates()

In [12]:
print("Percentage of duplicated data/rows within dataset: ", df.duplicated().sum() * 100 / len(df))

Percentage of duplicated data/rows within dataset:  0.0

In [13]:
print("Total Number of Rows in Dataset: ", len(df))

Total Number of Rows in Dataset:  6422

only 32 rows were duplicates.

9. Check null values in the dataset.

In [14]:
print("Percentage of Missing data within dataset: \n", df.isnull().sum() * 100 / len(df))

Percentage of Missing data within dataset:
 year      0.0
state     0.0
month     0.0
number    0.0
date      0.0
dtype: float64

pandas profile reports the same, no duplicates in dataset.

In [15]:
for (columnName, columnData) in df.iteritems():
    print('Does Column have Null, N/A, NAN values', columnName, "True or False?: ",df[columnName].isnull().values.any())

Does Column have Null, N/A, NAN values year True or False?:  False
Does Column have Null, N/A, NAN values state True or False?:  False
Does Column have Null, N/A, NAN values month True or False?:  False
Does Column have Null, N/A, NAN values number True or False?:  False
Does Column have Null, N/A, NAN values date True or False?:  False

10. Get overall statistics about the data frame.

This has been done in pandas profile. Please refer to other notebook in data project 6 folder > python notebooks > pandas profile notebook.

11. Rename month names to english.

In [16]:
# Group Rows on 'month' column and get List for 'month' column
df2 = df.groupby('month')['month'].apply(list)
print(df2)

month
Abril        [Abril, Abril, Abril, Abril, Abril, Abril, Abr...
Agosto       [Agosto, Agosto, Agosto, Agosto, Agosto, Agost...
Dezembro     [Dezembro, Dezembro, Dezembro, Dezembro, Dezem...
Fevereiro    [Fevereiro, Fevereiro, Fevereiro, Fevereiro, F...
Janeiro      [Janeiro, Janeiro, Janeiro, Janeiro, Janeiro, ...
Julho        [Julho, Julho, Julho, Julho, Julho, Julho, Jul...
Junho        [Junho, Junho, Junho, Junho, Junho, Junho, Jun...
Maio         [Maio, Maio, Maio, Maio, Maio, Maio, Maio, Mai...
Mar�o        [Mar�o, Mar�o, Mar�o, Mar�o, Mar�o, Mar�o, Mar...
Novembro     [Novembro, Novembro, Novembro, Novembro, Novem...
Outubro      [Outubro, Outubro, Outubro, Outubro, Outubro, ...
Setembro     [Setembro, Setembro, Setembro, Setembro, Setem...
Name: month, dtype: object

In [17]:
#loop through and change value based on if condition.
#assuming "Mar�o"(Marcho) is March.
for idx, row in df.iterrows():
    if  df.loc[idx,'month'] == 'Abril':
        df.loc[idx,'month'] = 'April'
    if  df.loc[idx,'month'] == 'Agosto':
        df.loc[idx,'month'] = 'August'
    if  df.loc[idx,'month'] == 'Dezembro':
        df.loc[idx,'month'] = 'December'
    if  df.loc[idx,'month'] == 'Fevereiro':
        df.loc[idx,'month'] = 'Febuary'
    if  df.loc[idx,'month'] == 'Janeiro':
        df.loc[idx,'month'] = 'January'
    if  df.loc[idx,'month'] == 'Julho':
        df.loc[idx,'month'] = 'July'
    if  df.loc[idx,'month'] == 'Junho':
        df.loc[idx,'month'] = 'June'
    if  df.loc[idx,'month'] == 'Maio':
        df.loc[idx,'month'] = 'May'
    if  df.loc[idx,'month'] == 'Mar�o':
        df.loc[idx,'month'] = 'March'
    if  df.loc[idx,'month'] == 'Novembro':
        df.loc[idx,'month'] = 'November'
    if  df.loc[idx,'month'] == 'Outubro':
        df.loc[idx,'month'] = 'October'
    if  df.loc[idx,'month'] == 'Setembro':
        df.loc[idx,'month'] = 'September'

In [18]:
# confirm changes to value in month column
df3 = df.groupby('month')['month'].apply(list)
print(df3)

month
April        [April, April, April, April, April, April, Apr...
August       [August, August, August, August, August, Augus...
December     [December, December, December, December, Decem...
Febuary      [Febuary, Febuary, Febuary, Febuary, Febuary, ...
January      [January, January, January, January, January, ...
July         [July, July, July, July, July, July, July, Jul...
June         [June, June, June, June, June, June, June, Jun...
March        [March, March, March, March, March, March, Mar...
May          [May, May, May, May, May, May, May, May, May, ...
November     [November, November, November, November, Novem...
October      [October, October, October, October, October, ...
September    [September, September, September, September, S...
Name: month, dtype: object

changes made to number column:

rename column

In [20]:
df.rename(columns={'number': 'number_of_registered_fires'}, inplace=True)

In [21]:
df.head(10)

   year state    month  number_of_registered_fires       date
0  1998  Acre  January                         0.0 1998-01-01
1  1999  Acre  January                         0.0 1999-01-01
2  2000  Acre  January                         0.0 2000-01-01
3  2001  Acre  January                         0.0 2001-01-01
4  2002  Acre  January                         0.0 2002-01-01
5  2003  Acre  January                        10.0 2003-01-01
6  2004  Acre  January                         0.0 2004-01-01
7  2005  Acre  January                        12.0 2005-01-01
8  2006  Acre  January                         4.0 2006-01-01
9  2007  Acre  January                         0.0 2007-01-01

Export Cleaned to data to csv format

In [22]:
df.to_csv('amazon_cleaned_number_col_not_converted.csv')